doc-item {
    cursor: pointer;
}
doc-item {
    margin-left: 10px;
    margin-right: 10px;
}
doc-item.read {
    margin-top: 0;
    margin-bottom: 0;
}
doc-item.reading {
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #67A1FF;
}
doc-summary, doc-content {
    padding: 5px;
    border-radius: 5px;
}
doc-container, doc-item, doc-content, doc-summary {
    display: block;
}
doc-item.read doc-content {
    display: none;
}
doc-item.read doc-summary {
    display: block;
}
doc-item.reading doc-content {
    display: block;
}
doc-item.reading doc-summary {
    display: none;
}
doc-item.unread {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 0;
}
doc-item.unread doc-content, doc-item.unread doc-summary {
    display: none;
}

/*
doc-container, doc-item {
    display: block;
}
doc-parents, doc-parent {
    display: none;
}
doc-item.unread {

}
doc-item.unread doc-summary {
    display: none;
}
doc-item.unread doc-content {
    display: none;
}
doc-item doc-summary {
    display: none;
}
doc-item doc-content {
    display: block;
}
doc-item.read doc-summary {
    display: block;
}
doc-item.read doc-content {
    display: none;
}
*/