.docItem {
    cursor: pointer;
    margin: 4px 0;
}
.docItemDisplayed {
    border-left: 4px solid white;
    display: flex;
}
.docItemHidden {
    display: none;
}
.overlay {
    position: fixed;
    z-index: 100;
    height: 100%;
    width : 100%;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.overlay .contentHead {
    display: flex;
    justify-content: center;
}
.overlay .contentHead h1{
    font-size: 1.5em;
    font-family: Open Sans, sans-serif;
}
.overlay .contentBody {
    display: flex;
    flex-direction: row;
    font-family: Gentium Book Basic, serif;
}
.overlay .statusColumnContainer {
    display: flex;
    flex: 0 0 50px;
    justify-content: center;
}
.overlay .statusColumn {
    width: 8px;
    height: 400px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.overlay .docItems {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.overlay .docItem {
    flex-direction: row;
}
.overlay .docItem .docItemPre {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 50px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
}
.overlay .docItem .docItemContent {
    flex: 1 1 0;
    padding-left: 5px;
}
.overlay .docItem  .docItemStatusBar {
    width: 3px;
    border-radius: 2px;
    height: 100%;
    border: 1px solid;
}
.overlay .docItem  .docItemStatusBar {
    border-color: transparent;
    background-color: transparent;
    margin-left: 4px;
}
.overlay .docItem.docItemFocus  .docItemStatusBar {
    border-color: #4C81D0ff;
    background-color: #4C81D0ff;
}
.overlay .docItem.docItemParentFocus  .docItemStatusBar {
    border-color: #4C81D033;
    background-color: #4C81D033;
}
.overlay .docItemStatusDot {
    width:4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin: 1px;
}
.overlay .docItem.docItemExpanded .docItemStatusDot{
    border-color: transparent ! important;
}
.overlay .docItem.docItemFocus .docItemPre.dotCount4 .docItemStatusDot,
.overlay .docItem.docItemFocus .docItemPre.dotCount3 .docItemStatusDot.dot1,
.overlay .docItem.docItemFocus .docItemPre.dotCount3 .docItemStatusDot.dot2,
.overlay .docItem.docItemFocus .docItemPre.dotCount3 .docItemStatusDot.dot3,
.overlay .docItem.docItemFocus .docItemPre.dotCount2 .docItemStatusDot.dot1,
.overlay .docItem.docItemFocus .docItemPre.dotCount2 .docItemStatusDot.dot2,
.overlay .docItem.docItemFocus .docItemPre.dotCount1 .docItemStatusDot.dot1 {
    border-color: #4C81D0ff;
}
.overlay .docItem.docItemParentFocus .docItemPre.dotCount4 .docItemStatusDot,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount3 .docItemStatusDot.dot1,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount3 .docItemStatusDot.dot2,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount3 .docItemStatusDot.dot3,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount2 .docItemStatusDot.dot1,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount2 .docItemStatusDot.dot2,
.overlay .docItem.docItemParentFocus .docItemPre.dotCount1 .docItemStatusDot.dot1 {
    border-color: #4C81D066;
}
.overlay  .docItemPost {
    display: flex;
    flex-direction: row;
    align-items: center;
}
