html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
h1{
    flex-basis: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 10px 20px;
}
#input, #tree, #output {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
h2 {
    flex-grow: 0;
    flex-shrink : 0;
    margin: 5px 0;
}
#inputText, #treeView, #outputText {
    border: 1px solid grey;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 5px;
}
#treeView {
    padding: 15px 5px;
}
button {
    padding: 5px 0;
    margin-top: 10px;
}
.jqtree-title {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid grey;
    background-color: #eee;
    margin: 3px;
    cursor: move;
    line-height: 30px;
    display: inline-block;
}
ul.jqtree_common {
    margin-left: 40px !important;
}
ul.jqtree-tree .jqtree-element {
    white-space: nowrap;
}
span.jqtree-title {
    white-space: normal;
}